# Целевая архитектура процессора
CONFIG_IDF_TARGET="esp32c6"

# Настройки Flash-памяти (4MB, режим DIO, 80MHz)
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

# Использование кастомной таблицы разделов (необходимо для хранения NVRAM Zigbee)
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

# Включение стека Zigbee (параметры обновлены под требования v6.x)
CONFIG_ZB_ENABLED=y
CONFIG_ZB_ZCZR=y

# Использование встроенного радио-модуля 802.15.4 (Native)
CONFIG_ZB_RADIO_NATIVE=y
CONFIG_ZB_RADIO_RCP_UART=n

# Оптимизация памяти под задачи Zigbee и работу без дисплея
CONFIG_ESP_MAIN_TASK_STACK_SIZE=10240
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096
CONFIG_SPIRAM=n

# Специфичные настройки для ядра FreeRTOS и HAL в ESP-IDF v6.x
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_160=y
